.Chat{
    flex-shrink: 70%;
    background-image: url('./media/background.png');
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    border-radius: 0em 0.25em 0em 0em;
}

.contactActions{
    background-color: rgb(207, 207, 207);
    padding:1em;
    display:flex;
    justify-content: space-between;
    border-radius: 0em 0.25em 0em 0em;
}
.ChatArea{
    /* background-image: url('./media/background.png'); */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height:79vh; */
    flex:9;
    flex-grow: 9;
    align-self: stretch;
    overflow-y: scroll;
    /* padding: 1em 0em; */
}

.chatContaineryou{
    display: flex;
    justify-content: flex-end;
}
.chatContainerreciever{
    display: flex;
    justify-content: flex-start;
}

.you,.reciever{
    max-width: 50%;
    align-self: flex-start;
    padding:0.2em 1em;
    display: flex;
    font-size: x-small;
    font-weight: 700;
    margin: 0.5em 1em;
    color:white;
}
.you{
    background-color: rgb(0, 156, 83);
    border-radius: 1em 1em 0em 1em;
}
.reciever{
    border-radius: 1em 1em 1em 0em;
    background-color: rgb(107, 107, 107);
}

.chatAndCreate{
    display: flex;
    flex-direction: column;
    padding:1em;
    height: 100%;
}


.createMsg{
    flex-grow: 1;
    justify-self: flex-start;
    flex:1;
}