html,body{
  overflow: hidden;
}

.App {
  font-family: 'Ubuntu', sans-serif !important;
  text-align: center;
  background-color: rgb(218, 218, 218);
  height: 100vh;
  display: flex;
  flex-direction: row;
}